<section class="player-wrapper">
  <article class="duration-container">
    <input class="duration-range" type="range" min="0" max="100" value="0" step="0.01">
  </article>
  <article class="controler-container">
    <div class="left-side">
      <button type="button" class="play-btn">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="play_arrow"></mat-icon>
      </button>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back_ios_new"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward_ios_new"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="volume_down"></mat-icon>
      <input class="volume-range" type="range" min="0" max="100" value="50" step="0.01">
      <h5>50</h5>
    </div>
    <div class="right-side">
      <h5>Avici - asd</h5>
    </div>
  </article>
</section>
