@use '@angular/material' as mat;

@include mat.core();

$MusicApp-primary: mat.define-palette(mat.$indigo-palette, 500);
$MusicApp-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

$MusicApp-warn: mat.define-palette(mat.$orange-palette);

$MusicApp-theme: mat.define-dark-theme((
  color: (
    primary: $MusicApp-primary,
    accent: $MusicApp-accent,
    warn: $MusicApp-warn,
  )
));

@include mat.all-component-themes($MusicApp-theme);

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
